<ion-content class="container" [fullscreen]="true">
  <div class="header">
    <div class="form-container">
      <ion-button class="btn-close" fill="clear" routerLink="/login">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>

      <ion-list lines="none" class="ion-text-center login-form">

        <div class="close-title-row">

          <span class="tit">
            <ion-icon name="information-circle-outline"></ion-icon>
            Ingresa el token de verificación para el cambio de contraseña.</span>
          <span class="btn-close-placeholder"></span>
        </div>

        <ion-item class="container-token">
          <ion-label><i class="fas fa-lock"></i> Token de seguridad:</ion-label>
        </ion-item>

        <ion-item>
          <ion-input type="text" [(ngModel)]=" verificationCode" fill="outline" class="ion-input"
            placeholder="Ingresa tu token">
          </ion-input>
        </ion-item>


        <ion-item class="ion-align-items-center">
          <ion-button type="submit" class="ion-button" (click)="verifyCode()">Verificar</ion-button>
        </ion-item>

      </ion-list>
    </div>
  </div>
</ion-content>