<ion-content [fullscreen]="true" class="background-container">
  <ion-list class="ion-padding responsive-container">

    <div class="header-container">
      <ion-label class="sub-tit">BIENVENIDO</ion-label>
      <ion-label class="tit">VALLEJIANO!</ion-label>
    </div>
    <ion-item class="ionit" lines="none">
     <div class="imgper">
      <ion-label class="foto"></ion-label>
     </div>
    </ion-item>

    <ion-item class="nombre" lines="none">
      <ion-label class="nom">{{ nombrecompleto }}</ion-label>
    </ion-item>

    <ion-item class="ioniit" lines="none">
      <ion-label class="text highlighted-text">Acércate a una cámara para escanear tu código y entrar a las instalaciones de la universidad</ion-label>
    </ion-item>

    <ion-item class="qr-container" lines="none">
      <img [src]="qrImageUrl" class="qr-image-container responsive-img" *ngIf="qrImageUrl" alt="Código QR">
    </ion-item>

    <ion-item class="ionit" lines="none">
      <ion-button class="btn responsive-btn" routerLink="/perfil">
        CERRAR SESIÓN
      </ion-button>
    </ion-item>
    
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="content-navigation responsive-nav">
        <ion-col size="3">
          <ion-button fill="clear" routerLink="/perfil" class="nav-btn">
            <ion-icon name="people-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" routerLink="/home" class="nav-btn">
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" routerLink="/historial" class="nav-btn">
            <ion-icon name="clipboard-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" routerLink="/login" class="nav-btn">
            <ion-icon name="log-in-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>