<ion-content [fullscreen]="true" class="login-bg-image">
  <div class="main-container">
    <div class="password-reset-card">
      <ion-list lines="none">
        <ion-item class="ion-text-center card-title-item">
          <ion-label class="card-title">¡ACTUALIZAR CONTRASEÑA!</ion-label>
        </ion-item>

        <ion-item class="ion-text-center message-item">
          <ion-label class="message-label">
            Por favor ingresa tu nueva contraseña. Asegúrate de que sea diferente a la anterior.
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-input 
            [type]="showPassword ? 'text' : 'password'" 
            [(ngModel)]="newPassword" 
            class="custom-input" 
            placeholder=" Ingresar Nueva Contraseña"
          >
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-icon 
              [name]="showPassword ? 'eye-off' : 'eye'" 
              slot="end" 
              (click)="togglePasswordVisibility()"
              class="password-toggle-icon"
            ></ion-icon>
          </ion-input>
        </ion-item>

        <ion-item class="ion-no-padding ion-text-center">
          <ion-button expand="block" class="action-button-reset" (click)="resetPassword()">
            ACTUALIZAR
          </ion-button>
        </ion-item>

        <ion-button expand="block" routerLink="/login" class="back-to-login-button">
          VOLVER
        </ion-button>
      </ion-list>
    </div>
  </div>
</ion-content>