.ion-main-content {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 33px;
  z-index: 1; 
  overflow: hidden;
}

.ion-main-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/background_main_screen.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1; 
  z-index: -1; 
}


.lbl {
  color: #073A8D;
  font-size: 52px;
  text-transform: none;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  margin-right: 0px;
  display: flex;
  margin-top: 50px;
  text-align: left;
}

.nom{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-align: left;
  background-color: #f8f8f8;
  width: 80%;

}

.imgper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  background-color: #DD2324;
  border: 2px solid #DD2324;
  border-radius: 30px;
  padding: 8px 16px;
  cursor: pointer;
  width: fit-content;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: scale(1);
}

.imgper:hover {
  background-color: #ae1717;
    transform: scale(1.05);

}

.imgper ion-icon {
  font-size: 20px;
  color: #ffffff;
}

.foto {
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
}

.ibtn{
  margin-top: 20px;
  --padding-end: 0px;
}

.ion-sub-container {
  background-color: transparent;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0px; 
  gap: 10px;
}


//NAVIGATION
.content-navigation {
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: start;
  height: 100%;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .content-navigation {
    margin-bottom: 10px;
  }
}

.btnex{
  --box-shadow: none;
  margin: auto;
  width: 90px;
  font-weight: 700;
  height: 35px;
  font-size: 15px;
  --border-radius: 10px;
  text-transform: none;
}

.tit{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



ion-content {
  --background: #f2f2f2;
}

.tit {
  font-size: 10px;
  line-height: 1.5;
}

ion-row {
  border: none;
  background-color: #ffffff;
  margin-top: 20px;
  gap: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  color:#073A8D ;

}

ion-row:nth-child(even) {
  background-color: #F1F1F1;
}

ion-row {
  padding: 12px 0;
}

ion-col {
  padding: 0px;
  text-align: center;
}

ion-item-background{
background-color: #ae1717;
}

.ion-title-container{
  div{
    width: 100%;
    height: 100%;
  background-color: #000000!important;
  }
}

.table-container{
  padding: 0;
}

ion-footer ion-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: none; 
}

ion-footer ion-toolbar ion-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px; 
  margin: 0px;
  
}

ion-footer ion-toolbar ion-grid ion-button {
  --padding-start: 0.75rem;
  --padding-end: 0.75rem;
}

.nav-btn ion-icon {
  font-size: 1.5rem;
  color: rgb(7, 58, 141);
  transition: color 0.3s ease, transform 0.3s ease; /* Se incluye transform */
}

.nav-btn:hover ion-icon {
  color: #c10000;
  transform: scale(1.2); /* Escala el ícono al 130% */
}